#Core Geospatial Libraries
pyproj
rasterio
GDAL
geotiff
# libspatialindex
pyshp
cartopy
sarpy
xee

#Visualization
bokeh
contextily
datashader
hvplot
ipygany
ipyleaflet
ipyvtklink
keplergl
localtileserver
mapboxgl
mapclassify
plotly
panel
pydeck
geoviews
holoviews
basemap
descartes
matplotlib
seaborn
altair
leaflet
plotnine
gmplot
folium
mplleaflet
branca
geoplot


#Geospatial Analysis
apache-sedona
cenpy
cubo
dask-geopandas
earthpy
geoalchemy2
geocube
pysal
rasterstats
rio-cogeo
rioxarray
s2cloudless
satpy
simplekml
sliderule
spyndex
stackstac
xyzservices
geopandas
laspy
h3
h3-py
scipy
sympy
geopy
pyproj
turfpy
movingpandas

#Remote Sensing
earthengine-api
earthaccess
easystac
eemont
eoreader
sentinelsat
pygis
pystac-client
odc-stac
wxee
geedim
pyroSAR
rsgislib
sat-search
satpy
pylandsat
pyresample


#Data Handling and Processing
duckdb
netcdf4
networkx
owslib
palettable
psycopg2
pyntcloud
sqlalchemy
pandas
skimage
pyvista
scikit-learn
dask
geopandas
h5py
zarr
fsspec
hdf5
cudf
vaex

#Interactive Maps
folium
geemap>=0.30.4
leafmap>=0.30.1
mapwidget
osmnx
lonboard
ipyleaflet
pydeck
keplergl
mapbox-gl-js
mapboxgl-jupyter


#Cloud and Satellite Data
planetary-computer
usgs
sentinelhub-py
boto3
google-cloud-storage
s3fs
azure-storage-blob
stactools
whitebox
whiteboxgui

#Machine Learning / Deep Learning / AI
tensorflow
keras
pytorch
torchvision
fastai
xgboost
lightgbm
catboost
scikit-learn
statsmodels
nltk
spacy
gensim
transformers
mlflow
rapids
tpot

#Modeling
sympy
statsmodels
pymc3
prophet
patsy
pymc
emcee
scikit-optimize

#Miscellaneous
mss
xarray
xarray-spatial
richdem
pyproj
pyprojroot
snakemake
prefect
dagster
fastparquet
feather
pyarrow
whitebox
whiteboxgui